<nav class="navbar navbar-expand-lg navbar-yellow">
	<div class="col">
		<div class="row">
			<div class="col-12">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
							<a href="javascript:;">
							<img src="../../../assets/imagem/o-que-é-buscapé.jpg" style="max-width: 150px" alt="logo-buscape">
							</a>
						</div>
						<div class="col-md-6">
							<input class="form-control" type="text">
						</div>
						<div class="col-md-4 h2">
								<div class="row">
									<div class="col-2 icon-user text-center">
										<i class="fas fa-user"></i>
								</div>
							</div>
							<div class="col">
							
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row">
						<div class="col-2 text-center nav-link first-nav-item">
							<div class="col-12 h2">
								<i class="fas fa-mobile-alt"></i></div>
							<div class="col-12">
								celular
							</div>
						</div>

						<div class="col-2 text-center nav-link">
							<div class="col-12 h2">
								<i class="fas fa-tv"></i></div>
							<div class="col-12">
								tv
							</div>
						</div>
						<div class="col-2 text-center nav-link">
							<div class="col-12 h2">
								<i class="fas fa-laptop"></i></div>
							<div class="col-12">
								notebook
							</div>
						</div>
						<div class="col-2 text-center nav-link">
							<div class="col-12 h2">
								<i class="fas fa-plug"></i></div>
							<div class="col-12">
								eletrodom
							</div>
						</div>
						<div class="col-2 text-center nav-link">
							<div class="col-12 h2">
								<i class="fas fa-car"></i></div>
							<div class="col-12">
								Auto peças
							</div>
						</div>
						<div class="col-2 text-center nav-link">
							<div class="col-12 h2">
								<i class="fas fa-book"></i></div>
							<div class="col-12">
								livros
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>			
</nav>

<!---<i class="fas fa-mobile-alt"<--->